.vLargeTextField, .item-richtext {
  width:300px !important;
  height:120px !important;
}

.vTextField {
  width:300px !important;
}

#language-selector label.translated {
  text-decoration:underline;
}

#all_languages {float:left;}

fieldset.module {
  clear: left;
}

fieldset.language {
  clear: none;
  float: left;
  width: 430px;
  margin-right: 5px;
}

fieldset.language h2 {
  height: 25px;
  line-height: 25px;
  font-size: 12px;
}

div.item-content div.form-row {
  float:left;
  border-bottom:none;
  overflow: visible;
}

div.inline-group, #main_wrapper, .submit-row {clear:left;}

.language-toggle {
  float: right;
  display: inline-block;
}

.language-toggle label {
  color: #ffffff;
  font-weight: bold !important;
  padding: 0px !important;
  width: auto !important;
  margin: 0 5px 0 0;
}

#language-selector {
  display: inline-block;
  float: right;
  margin-top: 0px;
  padding: 0px;
  border: 0px;
}

#language-selector .form-row {
  padding: 1px;
  border: 0px;
}

form fieldset.module.language p {
  margin: 0;
  padding: 1px;
}

fieldset.lang-processed label {
  padding: 1px 1px 0 1px;
  float: none;
}

fieldset.lang-processed > div {
  background-color: #f8f8f8;
  border-left: 1px dotted #cccccc;
}

