 #main {
  width: 90vw !important;
  padding: 0 !important;
}

.vLargeTextField, .item-richtext {
  width:300px !important;
  height:120px !important;
}

.vTextField {
  width:300px !important;
}

div[class*=wrapper]:nth-child(even) {
  background: #f5f4f5
}

.module.aligned {
  width: 90vw;
}

.link-wrapper,
.name-wrapper,
.title-wrapper,
.text-wrapper,
.button-wrapper,
.image-wrapper,
.cropping-wrapper,
.headline-wrapper,
.teaser-wrapper,
.black_overlay_text-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px;
}

label {
  font-weight: 700;
}

#language-selector {
  float: right;
}

#language-selector label.translated {
  text-decoration: underline;
}

fieldset.language {
  width: 430px;
  margin-right: 5px;
}

fieldset.language h2 {
  height: 25px;
  line-height: 25px;
  font-size: 12px;
}

div.item-content div.form-row {
  border-bottom:none;
  overflow: visible;
}

#all_languages {
  display: flex;
}

.fallback-toggle {
  float: right;
  display: inline-block;
}

.fallback-toggle label {
  color: #ffffff;
  font-weight: bold !important;
  padding: 0 !important;
  width: auto !important;
  margin: 0 5px 0 0;
}

#language-selector {
  display: inline-block;
  margin-top: 0;
  padding: 0;
  border: 0;
}

#language-selector .form-row {
  padding: 1px;
  border: 0;
}

form fieldset.module.language p {
  margin: 0;
  padding: 1px;
}

fieldset.lang-processed label {
  padding: 1px 1px 0 1px;
}

fieldset.lang-processed > div {
  background-color: #f8f8f8;
  border-left: 1px dotted #cccccc;
}

