 #main {
  width: 90vw !important;
  padding: 0 !important;
}

.vTextField {
  width:300px !important;
}

div[class*=wrapper]:nth-child(even) {
  background: #f5f4f5
}


.link-wrapper,
.name-wrapper,
.title-wrapper,
.text-wrapper,
.button-wrapper,
.image-wrapper,
.cropping-wrapper,
.headline-wrapper,
.teaser-wrapper,
.black_overlay_text-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px;
}

label {
  font-weight: 700;
}

.headline-wrapper .field-headline div {
  width: 624px;
  margin-right: 70px;
}

.headline-wrapper .field-headline div input {
  width: 100% !important;
}

#language-selector {
  display: inline-block;
  margin-top: 0;
  padding: 0;
  border: 0;
  width: 100%;
  position: relative;
  text-align: center;
  background: #f5f4f5;
}

#language-selector label.translated {
  text-decoration: underline;
}

#language-selector .form-row {
  padding: 1px;
  border: 0;
  margin: 10px 0;
  color: #666666;
  font-weight: bold;
}

#language-selector .form-row input:first-child {
  margin-left: 10px;
}

fieldset.language {
  width: 430px;
  margin-right: 5px;
}

fieldset.language h2 {
  height: 25px;
  line-height: 25px;
  font-size: 12px;
}

div.item-content div.form-row {
  border-bottom:none;
  overflow: visible;
}

#all_languages {
  display: flex;
  width: 90vw !important;
  flex-wrap: wrap;
}

#all_languages .module.aligned {
  width: 30%;
}

.fallback-toggle {
  float: right;
  display: inline-block;
}

.fallback-toggle label {
  color: #ffffff;
  font-weight: bold !important;
  padding: 0 !important;
  width: auto !important;
  margin: 0 5px 0 0;
}

form fieldset.module.language p {
  margin: 0;
  padding: 1px;
}

fieldset.lang-processed label {
  padding: 1px 1px 0 1px;
}

fieldset.lang-processed > div {
  background-color: #f8f8f8;
  border-left: 1px dotted #cccccc;
}

.form-row div label {
  width: 100% !important;
  padding: 0 !important;
}